.books-container {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.4rem;
    padding-bottom: 100px;
  }

.books-container h2 {
    font-size: 2rem;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* align items to the right */
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: 'Source Sans 3', sans-serif; 
    font-size: 1.2rem;
    width: 375px;
    margin-right: 10px;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 50px;
    padding: 25px;
}

.book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.book-cover {
    width: 150px; /* fixed width */
    height: 225px; /* fixed height */
    object-fit: cover; /* ensures the image covers the entire area */
    cursor: pointer;
}

.book-title {
    margin-top: 10px;
    font-family: 'Source Sans 3', sans-serif; 
    font-size: 18px;
    color: #7265B8; 
    text-decoration: none; 
    cursor: pointer;
    width: 145px; /* same width as the cover */
}

.book-title:hover {
    text-decoration: underline; 
}

@media (max-width: 600px) {
    .book-title {
        font-size: 14px;
    }
}

.book-button {
    background-color: #84C71A;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif; 
    font-size: 18px;
    font-weight: 500;
    height: 45px;
    line-height: 20px;
    padding: 12px 18px;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
}
  
.book-button:hover,
.book-button:focus {
    background-color: #B4EA5D;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* space between buttons */
    margin-bottom: 20px; /* space below the buttons */
}

.book-info {
    border-collapse: collapse;
    font-family: 'Source Sans 3', sans-serif; 
    font-size: 1.5rem;
    min-width: 400px;
}

.member-name {
    font-family: 'Source Sans 3', sans-serif; 
    font-size: 1.5rem;
    color: #7265B8; 
    text-decoration: none; 
    cursor: pointer;
}

.member-name:hover {
    text-decoration: underline; 
}

select {
    margin-right: 20px;
    margin-bottom: 30px;
    width: 225px;
    padding: 5px 35px 5px 5px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.2rem;
    border: 1px solid #CCC;
    height: 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../../../public/arrow.png") 96% / 11% no-repeat #EEE;
  }

.title-select {
    margin-right: 20px;
    margin-bottom: 30px;
    width: 650px;
    padding: 5px 35px 5px 5px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.2rem;
    border: 1px solid #CCC;
    height: 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../../../public/arrow.png") 96% / 4% no-repeat #EEE;
}
  